@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 12vh;
    -webkit-tap-highlight-color: transparent;
}

body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 14px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #48304D;
    border-radius: 20px;
    border: 3px solid #fff;
}

a {
    text-decoration: none;
}

a:active {
    background-color: transparent;
}

[data-anime] {
    opacity: 0;
    transition: .6s;
    z-index: -1;
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 1;
}

[data-anime="top"] {
    transform: translate3d(0, -150px, 0);
}

[data-anime="left"] {
    transform: translate3d(-150px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(150px, 0, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 150px, 0);
}

.select-disable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #48304D;
    background-color: #Fff;
    overflow: hidden;
    position: relative;
}

.ct-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.continuar-lendo {
    color: #48304D;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: -100px;
    bottom: 10vh;
}

.seta {
    font-size: 30px;
    color:#48304D;
}

.seta-animation {
    -moz-animation: setinha 2s infinite;
    -webkit-animation: setinha 2s infinite;
    animation: seta 2s infinite;
}

@keyframes seta {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-6px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.img-header {
    width: 36%;
    margin-top: 30px;
}

.nav {
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    background: #48304D;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 2;
}

.nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.nav-title img {
    height: 40px;
    margin: 5px 5px 0 0;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-item {
    font-size: 17px;
    font-weight: bolder;
    margin-left: 50px;
}



.nav-title a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title a,
.nav-item a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.mobile-menu {
    display: none;
}

.container-sobre {
    display: flex;
    justify-content: center;
}

.content-sobre {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
}

.content-sobre h1 {
    font-size: 40px;
    margin-bottom: 12px;
    white-space: nowrap;
}

.content-sobre p {
    font-size: 21px;
    
}

.main {
    padding: 80px 100px 10px 100px;
}

.section {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 250px;
}

#sobre {
    margin-bottom: 100px;
}

.container-topico-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.img-bacteria {
    height: 70%;
    max-height: 80%;
    margin: 18px 0 6px 0;
    border-radius: 10px;
}

.container-topico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}

.title-section {
    font-size: 36px;
   
    color: #48304D;
    margin-bottom: 25px;

}calafrios

.ct-img-bacteria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.text-img-bacteria {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.text {
    text-align: left;
    color: #000;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5px;
}

.img-icones {
    height: 550px;
 
}

.img-icones-mobile {
    display: none;
}

.footer {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #48304D;
    padding: 10px;
    flex-shrink: 0;
}

.redes-sociais {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0 16px 0;
}

.icone-rede {
    width: 23px;
    margin: 0 9px 0 9px;
    transition: all .3s ease-in-out;
}

.icone-rede:hover {
    transform: scale(1.15);
}

.footer h5 a {
    color: #fff;
}